* {
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background: linear-gradient(
        135deg,
        #0f3d2e,
        #1e7f5c,
        #2fbf91
    );
    color: #ffffff;
}

.container{
    width:500px;
    margin:40px auto;
    background: rgba(255,255,255,0.12);
    padding:30px;
    border-radius:12px;
    box-shadow: 0 0 20px rgba(47, 191, 145, 0.6);
}

input, button{
    width:100%;
    padding:12px;
    margin:10px 0;
    border-radius:6px;
    border:none;
    font-size:14px;
}

input{
    background: #f4fff9;
    color: #0f3d2e;
}

input::placeholder{
    color: #6aa89a;
}

button{
    background: linear-gradient(
        90deg,
        #1abc9c,
        #2ecc71,
        #1abc9c
    );
    color: #003d2b;
    font-weight:bold;
    cursor:pointer;
    transition: 0.3s;
}

button:hover{
    background: linear-gradient(
        90deg,
        #2ecc71,
        #58f5a8,
        #2ecc71
    );
}

table{
    width:100%;
    margin-top:20px;
    border-collapse: collapse;
}

th{
    color: #caffea;
    border-bottom:2px solid #2ecc71;
    padding:10px;
}

td{
    border-bottom:1px solid rgba(255,255,255,0.4);
    padding:10px;
    text-align:center;
}

.footer{
    background: #0b2f23;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
    font-size: 14px;
    color: #7fffd4;
}
