body{
    font-family: 'roboto', Arial, sans-serif;
    color: #000;
}

.judul{
    background: #87D1D8;
    padding: 20px;
    text-align: center;
}

.judul h1, h2, h3{
    margin: 5px 0;
}

a{
    padding: 5px;
    text-decoration: none;
}

.table{
    border-collapse: collapse;
    margin: 20px auto;   
    width: 80%;
}

table.table th,
table.table td{
    padding: 10px 20px;
    text-align: center;
}

.footer{
    background: #87D1D8;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
    font-size: 14px;
    color: #000;
}